################
### DATABASE ###
################

DB_NAME="[database user name]"
DB_PASS="[database user password]"
DB_USER="[database name]"


###########
### API ###
###########

# Auth
JWT_SECRET=[random alphanumerical string (min. 64 char)]
JWT_EXPIRES_IN=1h

# Urls
CLIENT_URL="[frontend URL (pl.: mydomain.com/subfolder)]"	# for CORS
CLIENT_PORT=[frontend port]
API_PORT=[api port]


#############
### REACT ###
#############
VITE_API_BASE_URL="[relative path to api (pl.: /subdomain/api)]"